.header{
    background-color: red;
    line-height: 1.6;
    font-size: 20px;
}
.gth{
    color: aliceblue;
    text-align: center;
}
.kfc {
    background-color: red;
}
.c{
    background-color: red;
}
